
input, select, button {
    width:100%;
}


td {
    text-align: right;
}

form {
    margin-left : 35%;
}

body {
    background-color: #BBB;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}